*{
    margin: 0;
    box-sizing: border-box;
}

header {
    height: 10vh;
}

.food-cabecalho{
    width: 10vh;
    margin: 20px;
    display: flex;
    justify-content:space-between;
}

.procurar-lupa-login {
    display: flex;
    padding: 16px;
    justify-content: flex-end;
    gap: 16px;
    align-items: center;
    border-bottom: 0.5px solid hsla(0, 0%, 0%, 0.425);
}

.busca-de-produtos {
    font-size: 16px;
}

.icone {
    width: 16px;
    
}

.login {
    font-size: 15px;
}

.principal{
    height: 80vh;
    width: 100vw;
    background-color: #ffffff;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 20px;
}

.conteudo1 {
    
    display: block;
    grid-column: 1/1;
    grid-row: 1/1;
    /* justify-content: space-around;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px; */
}

.conteudo2 {
    
    grid-column: 2;
    grid-row: 1/1;
}

.principal-titulo {
    font-size: 30px;
    color: hsla(199, 100%, 14%, 0.425);
}

.principal-subtitulo {
    font-weight: 400px;
    font-size: 24px;
    color: hsla(200, 100%, 9%, 0.425);
}

.botao-mercado{
	background-color: white;
	/* border-radius:8px; */
	color:#6E5B4F;
    font-size:20px;
	font-weight:bold;
	padding:13px 32px;
    /* height: 55;
    width: 81800; */
}

.botao-comida-pronta{
    background-color: white;
	/* border-radius:8px; */
	color:#6E5B4F;
    font-size:20px;
	font-weight:bold;
	padding:13px 32px;
    /* height: 55;
    width: 81800; */
}

.botao-comida-pronta:hover {
   background-color: #909090;
   color: white;
}

.botao-mercado:hover {
    background-color: #909090;
    color: white;
 }

.principal-4food-logo {
    width: 25%; 
    border-radius: 50%;
    margin-top: 25px;
}

.botoes {
    align-items:center;
}


/* .secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
    border-top: 0.5px solid hsla(199, 58%, 50%, 0.425);
    padding-top: 48px;
}

.secundario-titulo{
    
    font-weight: 400;
    font-size: 64px;
    color: hsla(199, 100%, 14%, 0.425);
}

.secundario-paragrafo{
    
    font-weight: 400;
    font-size: 24px;
    color: hsla(200, 100%, 9%, 0.425);
    border-radius: none;
} */

.imagem-footer{
    width: 40px;
    }
    
    
    #rodape {
        display: flex;
        padding: 16px;
        gap: 16px;
        align-items: center;
        position:absolute;
        width: 100%;
        bottom: 0; 
        /* text-align: center; */
        /*border: 1px solid black;*/
        justify-content:space-between;
        background-color: #d3d1d1;
    }

@media screen and (min-width : 320px) and (max-width: 480px) {

  header {
    background-color: #e4dede;
      position: fixed;
      width: 100%;
      height: 9vh;
  }
  /*=====TITULO PRINCIPAL========*/ 
      
  .principal{
    flex-direction: column;
    background-color: white;
    display: flex;
      width: 100%;
        
}


      .principal-subtitulo {
        font-weight: 400px;
        font-size: 24px;
        color: hsla(200, 100%, 9%, 0.425);
    }

      
  /*=====RODAPE========*/ 
  
    #rodape{
        bottom: 0;
        width: 100%;   
        text-align: center;
        background-color: #e4dede;
        font-size: 10px;
        position: fixed;
        height: 8vh;
}
    .imagem-footer{
        width: 25px;
    }
}
